<div class="bread">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/index"><i class="anticon anticon-home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <ng-container *ngFor="let breadcrumb of breadcrumbs;">
      <nz-breadcrumb-item *ngIf="breadcrumb.url!=='/index'">
        <ng-template *ngIf="index!==breadcrumbs.length-1;else elseBlock">
          <a routerLink="{{breadcrumb.url}}" routerLinkActive="active"><i class="anticon anticon-{{breadcrumb.icon}}"></i><span>{{ breadcrumb.label }}</span></a>
        </ng-template>
        <span #elseBlock><i class="anticon anticon-{{breadcrumb.icon}}"></i><span>{{ breadcrumb.label }}</span></span>
      </nz-breadcrumb-item>
    </ng-container>
  </nz-breadcrumb>
</div>
