<div nz-row>
  <h1>预约详情</h1>
  <h2>修改第一志愿</h2>
</div>
<br><br><br>
<div nz-row>
  <div nz-col></div>
</div>
<div nz-row>
  <form [nzLayout]="'horizontal'" nz-form [formGroup]="validateForm" (ngSubmit)="'_submit()'" nz-col [nzOffset]="'5'" nzSpan="10">
    <div class="formItem" nz-form-item>
      <div nz-form-control>
        <label  nz-col nzSpan="10"></label>
        <div nz-col nzSpan="14">
          <span nz-form-text style="color: red"></span>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control  [nzValidateStatus]="getFormControl('orderId')"  nzHasFeedback >
        <label for="orderId" nz-col nzSpan="10">课程号：</label>
        <div nz-col nzSpan="12">
          <input nz-input id="orderId" formControlName="orderId"  />
        </div>
        <!--<div class="help">-->
          <!--<div nz-col nzSpan="12" [nzOffset]="'10'" nz-form-explain>课程号为必选项！</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="getFormControl('className')"  nzHasFeedback >
        <label for="className" nz-col nzSpan="10">课程名称：</label>
        <div nz-col nzSpan="12">
          <input nz-input id="className" formControlName="className" >
        </div>
        <!--<div class="help">-->
          <!--<div nz-col nzSpan="12" [nzOffset]="'10'" nz-form-explain >课程名为必选项！</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control  [nzValidateStatus]="getFormControl('week')"  nzHasFeedback >
        <label for="week" nz-col nzSpan="10">课程周次（可多选）：</label>
        <div nz-col nzSpan="12">
          <nz-select
                  nzMode="multiple"
                  id="week"
                  formControlName="week"
                  [(ngModel)]="orderDetail.orderWeek"
                  [nzPlaceHolder]="'请选择周数'"
          >
            <nz-option
                    *ngFor="let option of week"
                    [nzLabel]="option.label"
                    [nzValue]="option.value">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="12" [nzOffset]="'10'">
          <nz-button-group style="float: right">
            <button type="button" nz-button [nzType]="'defaut'" (click)="setWeek('week',0)">全选</button>
            <button type="button" nz-button [nzType]="'defaut'" (click)="setWeek('week',1)">单周</button>
            <button type="button" nz-button [nzType]="'defaut'" (click)="setWeek('week',2)">双周</button>
            <button type="button" nz-button [nzType]="'defaut'" (click)="setWeek('week',3)">重置</button>
          </nz-button-group>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'10'" nz-form-explain *ngIf="validateForm.controls.week.dirty&&validateForm.controls.week.hasError('required')">周数为必选项！</div>
        </div>
      </div>
    </div>

    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.weekday&&validateForm.controls.classNum"  [nzValidateStatus]="getFormControl('weekday')&&getFormControl('classNum')"  nzHasFeedback >
        <label for="weekday" nz-col nzSpan="10">课程时间（可多选）：</label>
        <div nz-col nzSpan="12">
          <nz-input-group nz-col nzSpan="24" [nzSize]="'large'" nzCompact>
            <nz-select
                    style="width:50%"
                    id="weekday"
                    formControlName="weekday"
                    [nzPlaceHolder]="'星期 '"
                    [(ngModel)]="orderDetail.weekDays[0]"
                    nzShowSearch="true"
            >
              <nz-option
                      *ngFor="let option of weekday"
                      [nzLabel]="option.label"
                      [nzValue]="option.value">
              </nz-option>
            </nz-select>
            <nz-select
                    nzMode="multiple"
                    style="width:50%"
                    id="classNum"
                    [nzPlaceHolder]="'第 节'"
                    formControlName="classNum"
                    [(ngModel)]="orderDetail.classNum"
                    nzShowSearch="true">
              <nz-option
                      *ngFor="let option of classNum"
                      [nzLabel]="option.label"
                      [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </div>
        <div nz-col nzSpan="12" [nzOffset]="'10'">
          <button type="button" nz-button [nzType]="'defaut'" (click)="setWeek('weekday',3);setWeek('classNum',3);" style="float: right;">重置时间</button>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'10'" nz-form-explain *ngIf="validateForm.controls.weekday.dirty&&validateForm.controls.weekday.hasError('required')&&validateForm.controls.classNum.dirty&&validateForm.controls.classNum.hasError('required')">上课时间为必选项！</div>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control  [nzValidateStatus]="getFormControl('classPeoCount')"  nzHasFeedback >
        <label for="classPeoCount" nz-col nzSpan="10">人数：</label>
        <div nz-col nzSpan="12">
          <nz-input-number  [nzMin]="1"  [nzStep]="1" id="classPeoCount" [formControlName]="'classPeoCount'" ></nz-input-number>
        </div>
        <!--<div class="help">-->
          <!--<div nz-col nzSpan="12" [nzOffset]="'10'" nz-form-explain *ngIf="getFormControl('classPeoCount').hasError('required')">人数为必填项！</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="submitBtn" nz-form-item nz-col nzSpan="22">
      <div nz-form-control>
        <button nz-button [nzType]="'danger'" [nzSize]="'large'" (click)="_back()">
          <span>取消</span>
        </button>
        <button nz-button [nzLoading]="loadStatus" [nzType]="'primary'" [nzSize]="'large'" (click)="_submit()">{{submitBtn}}</button>

      </div>
    </div>
  </form>
</div>