<div nz-row>
    <h1>未安排预约</h1>
</div>
<br>
<div nz-row>
    <div nz-col [nzSpan]="22">
        <p>当前学期：{{nowSemester.nowSemester}}</p>
    </div>
    <div nz-col [nzSpan]="1" style="margin-left: -2em;margin-top: -2em">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="autoArrange()">
            <span>  自  动  排  课 </span>
        </button>
    </div>
</div>
<br><br>
<nz-table #nzTable [nzDataSource]="orderList" [nzPageSize]="5" [nzShowTotal]="true">
<thead nz-thead>
<tr>
        <th nz-th nzExpand></th>
        <th nz-th><span>教师名称</span></th>
        <th nz-th><span>课程号</span></th>
        <th nz-th><span>课程名称</span></th>
        <th nz-th><span>课程人数</span></th>
        <th nz-th><span>创建时间</span></th>
        <th nz-th><span>最后修改时间</span></th>
</tr>
</thead>
<tbody nz-tbody>
<ng-template ngFor let-data [ngForOf]="nzTable.data">
    <tr nz-tbody-tr>
        <td nz-td nzExpand (click)="this.boolOpen(data.expand, data.id)">
            <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
        </td>
        <td nz-td>
            <nz-popover [nzTitle]="'联系方式'">
                <span nz-popover>{{data.userNickname}}</span>
                <ng-template #nzTemplate>
                    <div><p>电话：{{data.phone}}</p>
                        <p>邮箱：{{data.email}}</p></div>
                </ng-template>
            </nz-popover>
        </td>
        <td nz-td>{{data.classId}}</td>
        <td nz-td>{{data.className}}</td>
        <td nz-td>{{data.classPeoCount}}</td>
        <td nz-td>{{data.createTime}}</td>
        <td nz-td>{{data.lastModify }}</td>
    </tr>
<tr nz-tbody-tr *ngIf="data.expand">
<td nz-td colspan="8" style="padding: 0">
    <!--展开头-->
    <div nz-row *ngFor="let detail of orderDetails[data.id]">
        <nz-alert [nzType]="'success'"  nzShowIcon="true"  style="text-align: center">
                    <span alert-body >
                        <span style="float: left">志愿{{detail.type}}</span>&nbsp;&nbsp;
                        <span>预约时间：星期{{getDayByNum(detail.weekDays)}}</span>&nbsp;&nbsp;
                        <span>预约节次：{{detail.classNum}}</span>&nbsp;&nbsp;
                         <span>预约周次：{{detail.orderWeek}}</span>&nbsp;&nbsp;
                        <a *ngIf="detail.type==1" style="float: right" (click)="update(data[id])">编辑</a>
                    </span>
        </nz-alert>
        <nz-table #nzTable [nzDataSource]="detail.lab"  [nzIsPagination]="false">
    <thead nz-thead>
    <tr>
        <th nz-th><span>编号</span></th>
        <th nz-th><span>实验室名称</span></th>
        <th nz-th><span>楼栋</span></th>
        <th nz-th><span>门牌号</span></th>
        <th nz-th><span>可容纳人员</span></th>
        <th nz-th><span>分类</span></th>
        <th nz-th><span>管理员</span></th>
        <th nz-th><span>分配人数</span></th>
    </tr>
    </thead>
    <tbody nz-tbody *ngFor="let i of [0,1,2]" >
    <tr nz-tbody-tr *ngIf="i<detail.lab.length&&lab[detail.lab[i]]!=null" >
        <td nz-td>{{detail.lab[i]}}</td>
        <td nz-td>{{lab[detail.lab[i]].labName}}</td>
        <td nz-td>{{lab[detail.lab[i]].labBuild}}</td>
        <td nz-td>{{lab[detail.lab[i]].labNumber}}</td>
        <td nz-td>{{lab[detail.lab[i]].labPeoCount}}</td>
        <td nz-td>{{lab[detail.lab[i]].labType}}</td>
        <td nz-td>
            <nz-popover [nzTitle]="'联系方式'">
                <span nz-popover>{{lab[detail.lab[i]].adminName}}</span>
                <ng-template #nzTemplate>
                    <div><p>电话：{{lab[detail.lab[i]].phone}}</p>
                        <p>邮箱：{{lab[detail.lab[i]].email}}</p></div>
                </ng-template>
            </nz-popover>
        </td>
        <td nz-td>{{detail.labArrangedPeoCount[i]}}</td>
    </tr>
    </tbody>
</nz-table>
<br>
</div>
    <!--展开尾-->
</td>
</tr>
</ng-template>
</tbody>
</nz-table>