<div nz-row>
  <div nz-col>
    <h1>修改密码</h1>
  </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()" style="margin-top: 40px;">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
                <label for="oldPassword" nz-form-item-required>旧密码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="8" [nzXs]="24" nzHasFeedback>
                <nz-input [nzSize]="'large'" formControlName="oldPassword" [nzType]="'password'" id="oldPassword" [nzId]="'oldPassword'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('required')" style="color: red">旧密码不能为空</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
                <label for="password" nz-form-item-required>新密码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="8" [nzXs]="24" nzHasFeedback>
                <nz-input [nzSize]="'large'" formControlName="password" [nzType]="'password'" [nzId]="'password'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')" style="color: red">请输入新密码！</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
                <label for="checkPassword" nz-form-item-required>确认新密码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="8" [nzXs]="24" nzHasFeedback>
                <nz-input [nzSize]="'large'" formControlName="checkPassword" [nzType]="'password'" [nzId]="'checkPassword'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('required')" style="color: red">请确认您的密码！</div>
                <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('confirm')" style="color: red">两次输入必须一致！</div>
            </div>
        </div>
        <div nz-form-item nz-row style="margin-bottom:8px;">
            <div nz-form-control style="text-align: center">
                <button nz-button [nzSize]="'large'" [nzType]="'primary'">立即修改</button>
            </div>
        </div>
    </form>`
</div>
