<div nz-row>
  <div nz-col [nzSpan]="22">
    <p>当前学期：2017学年第一学期（本周为第11周）</p>
  </div>
  <div nz-col [nzSpan]="1">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'">
      <span>查询历史课程</span>
    </button>
  </div>
</div>
<div nz-row class="mycard" [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
  <div nz-col [nzSpan]="8">
    <p>我的课程</p>
    <p>8个课程</p>
  </div>
  <div nz-col [nzSpan]="8" class="se">
    <p>本学期课时总数</p>
    <p>32个学时</p>
  </div>
  <div nz-col [nzSpan]="8">
    <p>本周课时总数</p>
    <p>2个学时</p>
  </div>
</div>
<div nz-row>
  <div nz-col [nzSpan]="14">
    <h2>课程列表</h2>
  </div>
  <div nz-col [nzSpan]="6" class="mbg">
    <nz-radio-group  [(ngModel)]="choice">
      <label nz-radio-button [nzValue]="'all'" ><span>全部</span></label>
      <label nz-radio-button [nzValue]="'ing'"><span>进行中</span></label>
      <label nz-radio-button [nzValue]="'no'"><span>未开始</span></label>
    </nz-radio-group>
  </div>
  <div nz-col [nzSpan]="3" class="sousuo">
    <nz-input [nzType]="'search'" [nzPlaceHolder]="'请输入'"
              [(ngModel)]="_value" style="width: 200px;" (nzOnSearch)="onSearch($event)">
    </nz-input>
  </div>
</div>
<br>
<div nz-row [nzType]="'flex'" [nzJustify]="'start'">
  <div nz-col [nzSpan]="24" >
    <button nz-button [nzType]="'dashed'" style="width: inherit" >
      <a  routerLink="add" routerLinkActive="active">
      <i class="anticon anticon-plus"></i>
      <span>添加</span></a>
    </button>
  </div>
</div>
<br>
<div nz-row>
  <div nz-col>
    <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
      <thead nz-thead>
      <tr>
        <th nz-th><span>课程名称</span></th>
        <th nz-th><span>课程学时</span></th>
        <th nz-th><span>课程添加时间</span></th>
        <th nz-th><span>进度</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>
          <a href="/detail">{{data.course}}</a>
          <br>
          <span>{{data.coursetime}}</span>
        </td>
        <td nz-td>{{data.hour}}</td>
        <td nz-td>{{data.addtime}}</td>
        <td nz-td><nz-progress [ngModel]="data.progress"></nz-progress></td>
        <td nz-td>
            <span>
              <span nz-table-divider></span>
              <a routerLink="edit">编辑</a>
              <span nz-table-divider></span>
              <nz-dropdown>
                <a class="ant-dropdown-link" nz-dropdown>
                  更多 <i class="anticon anticon-down"></i>
                </a>
                <ul nz-menu>
                  <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">1st menu item</a>
                  </li>
                </ul>
              </nz-dropdown>
            </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>