<div nz-row>
    <h1>已安排预约</h1>
</div>
<br>
<div nz-row>
    <div nz-col [nzSpan]="22">
        <p>当前学期：2017学年第一学期（本周为第11周）</p>
    </div>
</div>
<br><br>
<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
    <thead nz-thead>
    <tr>
        <th nz-th nzExpand></th>
        <th nz-th><span>课程名称</span></th>
        <th nz-th><span>人数</span></th>
        <th nz-th><span>教师</span></th>
        <th nz-th><span>预约时间</span></th>
        <th nz-th><span>预约周次</span></th>
        <th nz-th><span>操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
    <tr nz-tbody-tr>
        <td nz-td nzExpand>
            <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
        </td>
        <td nz-td>
            <a>{{data.name}}</a>
        </td>
        <td nz-td>{{data.num}}</td>
        <td nz-td>{{data.teacher}}</td>
        <td nz-td>{{data.time}}</td>
        <td nz-td>{{data.week}}</td>
        <td nz-td>
            <span>
              <a href="#">删除</a>
              <span nz-table-divider></span>
              <a routerLink="/alter">编辑</a>
            </span>
        </td>
    </tr>
    <tr nz-tbody-tr *ngIf="data.expand" style="background-color: rgb(248,248,248)">
        <td nz-td></td>
        <td nz-td colspan="6">
            <nz-table #nzTable2 [nzDataSource]="data.detail" [nzIsPagination]="false">
                <thead nz-thead>
                <tr>
                    <th nz-th><span>志愿</span></th>
                    <th nz-th><span>实验室名称</span></th>
                    <th nz-th><span>楼栋</span></th>
                    <th nz-th><span>门牌号</span></th>
                    <th nz-th><span>可容纳人员</span></th>
                    <th nz-th><span>分类</span></th>
                    <th nz-th><span>管理员</span></th>
                    <th nz-th><span>分配人数</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let d of data.detail">
                    <td nz-td>{{d.id}}</td>
                    <td nz-td>{{d.labname}}</td>
                    <td nz-td>{{d.labbuild}}</td>
                    <td nz-td>{{d.labNumber}}</td>
                    <td nz-td>{{d.labPeoCount}}人</td>
                    <td  nz-td>{{d.labType}}</td>
                    <td nz-td>{{d.adminName}}</td>
                    <td nz-td>{{d.people}}</td>
                </tr>
                </tbody>
            </nz-table>
        </td>
    </tr>
    </ng-template>
    </tbody>
</nz-table>